<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bubble</title>
</head>
<link rel="stylesheet" href="//unpkg.com/tailwindcss@0.3.0/dist/tailwind.min.css">

<body>
  <bubble-chat></bubble-chat>
</body>
<script src="/assets/js/bubble-chat.js"></script>
<script>
  (function() {
    let name;
    const bubbleChat = document.querySelector('bubble-chat');
    const socket = new WebSocket("ws://{{ .Address }}/chat/ws");
    bubbleChat.chatPlaceHolder = 'Enter your name';
    socket.onclose = function(evt) {
      console.error("Connection Closed");
    };
    socket.onopen = function(evt) {
      console.log("Connection established");
    };
    socket.onmessage = (evt) => {
      const msg = JSON.parse(evt.data);
      switch(msg.type) {
        case 'message' :
          bubbleChat.messageList = [...bubbleChat.messageList, msg];
          break;
        case 'online':
          bubbleChat.userList = msg.userList.filter(msg => msg.name != '');
          break;
        case 'offline':
          bubbleChat.userList = bubbleChat.userList.filter(user => user.id != msg.userId);
          break;
      }

    };
    bubbleChat.addEventListener('chatSubmit', (value) => {
      sendMessage(value.detail);
    });

    function sendMessage(value) {
      let message;
      if(!name) {
        message = {
          type: "NAME",
        };
        bubbleChat.chatPlaceHolder = 'Message';
        name = value;
        bubbleChat.user = name;
      } else {
        message = {
          type: "MESSAGE",
        }
      }
      message.text = value;
      socket.send(JSON.stringify(message));
      bubbleChat.chatValue = "";
    }

  })();

</script>
</html>